@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  font-weight: 600;
}
.menu li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  text-decoration: underline;
}

a.active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #acd27a !important;
  font-weight: 700;
}
